# ╭─────────────────────────Commonly Used ImplementationGuide Properties───────────────────────────╮
# │  The properties below are used to create the ImplementationGuide resource. The most commonly   │
# │  used properties are included. For a list of all supported properties and their functions,     │
# │  see: https://fshschool.org/docs/sushi/configuration/.                                         │
# ╰────────────────────────────────────────────────────────────────────────────────────────────────╯
id: il.fhir.r4.dgmc
canonical: http://fhir.dgmc.health.gov.il
name: IL-DGMC-IG
title: Israel Division of Governmental Hospitals Profiles
description: FHIR Profiles and Implementation Guide for the Israel Division of 
  Governmental Hospitals
status: draft # draft | active | retired | unknown
version: 0.6.6
fhirVersion: 4.0.1 # https://www.hl7.org/fhir/valueset-FHIR-version.html
copyrightYear: 2024+
releaseLabel: draft # ci-build | draft | qa-preview | ballot | trial-use | release | update | normative+trial-use
jurisdiction: urn:iso:std:iso:3166#IL "Israel" # https://www.hl7.org/fhir/valueset-jurisdiction.html
publisher:
  name: Division of Governmental Hospitals Israel
  url: http://dgmc.health.gov.il

dependencies:
  il.core.fhir.r4: 
    uri: http://fhir.health.gov.il/ImplementationGuide/il.core.fhir.r4
    version: 0.19.1
  il.hdp.fhir.r4: 
    uri: http://fhir.health.gov.il/ImplementationGuide/il.hdp.fhir.r4
    version: 0.3.1
instanceOptions:
  # When set to true, slices must be referred to by name and not only by a numeric index in order to be used
  # in an Instance's assignment rule. All slices appear in the order in which they are specified in FSH rules.
  # While SUSHI defaults to false for legacy reasons, manualSliceOrding is recommended for new projects.
  manualSliceOrdering: true # true | false
  # Determines for which types of Instances SUSHI will automatically set meta.profile
  # if InstanceOf references a profile:
  #
  # setMetaProfile: always # always | never | inline-only | standalone-only
  #
  #
  # Determines for which types of Instances SUSHI will automatically set id
  # if InstanceOf references a profile:
  #
  # setId: always # always | standalone-only
menu:
  Home: index.html
